USE [master]
GO
/****** Object:  Database [CamtasiaStudioDB]    Script Date: 2014/11/26 16:44:48 ******/
CREATE DATABASE [CamtasiaStudioDB] ON  PRIMARY 
( NAME = N'CamtasiaStudioDB', FILENAME = N'E:\仓库条码管理系统\仓库条码管理系统DB\CamtasiaStudioDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CamtasiaStudioDB_log', FILENAME = N'E:\仓库条码管理系统\仓库条码管理系统DB\CamtasiaStudioDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CamtasiaStudioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CamtasiaStudioDB]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 2014/11/26 16:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[GoodsID] [int] IDENTITY(1,1) NOT NULL,
	[ProducesM] [nvarchar](20) NULL,
	[GoodsName] [nvarchar](20) NULL,
	[GoodsNum] [int] NULL,
	[GoodsPrice] [money] NULL,
	[GoodsJLDw] [nvarchar](20) NULL,
	[PnoName] [nvarchar](20) NULL,
	[StorageNum] [int] NULL,
	[GoodsDate] [datetime] NULL,
	[GoodsBZQ] [int] NULL,
 CONSTRAINT [PK_GOODS] PRIMARY KEY CLUSTERED 
(
	[GoodsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InGoodsInfo]    Script Date: 2014/11/26 16:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InGoodsInfo](
	[InfoID] [int] IDENTITY(1,1) NOT NULL,
	[InNum] [nvarchar](20) NULL,
	[GoodsID] [int] NULL,
	[GoodsNum] [int] NULL,
 CONSTRAINT [PK_InGoodsInfo] PRIMARY KEY CLUSTERED 
(
	[InfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InNumber]    Script Date: 2014/11/26 16:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InNumber](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InNum] [nvarchar](20) NOT NULL,
	[ZdName] [nvarchar](20) NULL,
	[ZdTime] [datetime] NULL,
	[QrName] [nvarchar](20) NULL,
	[RkTime] [datetime] NULL,
	[State] [nvarchar](20) NULL,
 CONSTRAINT [PK_INNUMBER] PRIMARY KEY CLUSTERED 
(
	[InNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OutGoodsInfo]    Script Date: 2014/11/26 16:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutGoodsInfo](
	[outID] [int] IDENTITY(1,1) NOT NULL,
	[OutNum] [nvarchar](20) NULL,
	[GoodsID] [int] NULL,
	[GoodsNum] [int] NULL,
 CONSTRAINT [PK_OutGoodsInfo] PRIMARY KEY CLUSTERED 
(
	[outID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OutNumber]    Script Date: 2014/11/26 16:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutNumber](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OutNum] [nvarchar](20) NOT NULL,
	[ZdName] [nvarchar](20) NULL,
	[ZdTime] [datetime] NULL,
	[QrName] [nvarchar](20) NULL,
	[CkTime] [datetime] NULL,
	[State] [nvarchar](20) NULL,
 CONSTRAINT [PK_OUTNUMBER] PRIMARY KEY CLUSTERED 
(
	[OutNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Storage]    Script Date: 2014/11/26 16:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[StorageNum] [int] IDENTITY(1000,1) NOT NULL,
	[StorageName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_STORAGE] PRIMARY KEY CLUSTERED 
(
	[StorageNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2014/11/26 16:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NULL,
	[UserPwd] [nvarchar](20) NULL,
	[UserType] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Goods] ON 

INSERT [dbo].[Goods] ([GoodsID], [ProducesM], [GoodsName], [GoodsNum], [GoodsPrice], [GoodsJLDw], [PnoName], [StorageNum], [GoodsDate], [GoodsBZQ]) VALUES (1, N'6943568210020', N'佳洁士牙膏', 10, 9.9000, N'支', N'佳洁士牙膏有限公司', 1001, CAST(0x0000A3E900D67E8C AS DateTime), 360)
INSERT [dbo].[Goods] ([GoodsID], [ProducesM], [GoodsName], [GoodsNum], [GoodsPrice], [GoodsJLDw], [PnoName], [StorageNum], [GoodsDate], [GoodsBZQ]) VALUES (2, N'6943568210021', N'中华健齿白牙膏', 15, 16.0000, N'支', N'中华健齿白牙膏有限公司', 1001, CAST(0x0000A3E900D67E8C AS DateTime), 360)
INSERT [dbo].[Goods] ([GoodsID], [ProducesM], [GoodsName], [GoodsNum], [GoodsPrice], [GoodsJLDw], [PnoName], [StorageNum], [GoodsDate], [GoodsBZQ]) VALUES (3, N'6943568210022', N'黑人牙膏', 5, 24.0000, N'支', N'黑人牙膏有限公司', 1001, CAST(0x0000A3E900D67E8C AS DateTime), 360)
SET IDENTITY_INSERT [dbo].[Goods] OFF
SET IDENTITY_INSERT [dbo].[InGoodsInfo] ON 

INSERT [dbo].[InGoodsInfo] ([InfoID], [InNum], [GoodsID], [GoodsNum]) VALUES (1, N'RK20141115182122', 1, 10)
INSERT [dbo].[InGoodsInfo] ([InfoID], [InNum], [GoodsID], [GoodsNum]) VALUES (2, N'RK20141115182122', 2, 15)
INSERT [dbo].[InGoodsInfo] ([InfoID], [InNum], [GoodsID], [GoodsNum]) VALUES (3, N'RK20141115182122', 3, 5)
SET IDENTITY_INSERT [dbo].[InGoodsInfo] OFF
SET IDENTITY_INSERT [dbo].[InNumber] ON 

INSERT [dbo].[InNumber] ([ID], [InNum], [ZdName], [ZdTime], [QrName], [RkTime], [State]) VALUES (1, N'RK20141115182122', N'余杰龙', CAST(0x0000A3E400000000 AS DateTime), N'柯康', CAST(0x0000A3E300000000 AS DateTime), N'已入库')
INSERT [dbo].[InNumber] ([ID], [InNum], [ZdName], [ZdTime], [QrName], [RkTime], [State]) VALUES (2, N'RK20141115182123', N'余杰龙', CAST(0x0000A3E400000000 AS DateTime), N'柯康', CAST(0x0000A3EC00E341BC AS DateTime), N'已入库')
INSERT [dbo].[InNumber] ([ID], [InNum], [ZdName], [ZdTime], [QrName], [RkTime], [State]) VALUES (3, N'RK20141115182124', N'余杰龙', CAST(0x0000A3E400000000 AS DateTime), N'柯康', CAST(0x0000A3EC010BC27C AS DateTime), N'已入库')
SET IDENTITY_INSERT [dbo].[InNumber] OFF
SET IDENTITY_INSERT [dbo].[OutGoodsInfo] ON 

INSERT [dbo].[OutGoodsInfo] ([outID], [OutNum], [GoodsID], [GoodsNum]) VALUES (1, N'CK20141115182122', 1, 10)
INSERT [dbo].[OutGoodsInfo] ([outID], [OutNum], [GoodsID], [GoodsNum]) VALUES (2, N'CK20141115182122', 2, 15)
INSERT [dbo].[OutGoodsInfo] ([outID], [OutNum], [GoodsID], [GoodsNum]) VALUES (3, N'CK20141115182122', 3, 5)
SET IDENTITY_INSERT [dbo].[OutGoodsInfo] OFF
SET IDENTITY_INSERT [dbo].[OutNumber] ON 

INSERT [dbo].[OutNumber] ([ID], [OutNum], [ZdName], [ZdTime], [QrName], [CkTime], [State]) VALUES (1, N'CK20141115182122', N'柯康', CAST(0x0000A3E500000000 AS DateTime), N'柯康', CAST(0x0000A3EC00DEEF7C AS DateTime), N'已出库')
INSERT [dbo].[OutNumber] ([ID], [OutNum], [ZdName], [ZdTime], [QrName], [CkTime], [State]) VALUES (2, N'CK20141115182123', N'柯康', CAST(0x0000A3E500000000 AS DateTime), N'柯康', CAST(0x0000A3E400000000 AS DateTime), N'已出库')
INSERT [dbo].[OutNumber] ([ID], [OutNum], [ZdName], [ZdTime], [QrName], [CkTime], [State]) VALUES (3, N'CK20141122144012', N'柯康', CAST(0x0000A3EB00F1C110 AS DateTime), NULL, NULL, N'待出库')
SET IDENTITY_INSERT [dbo].[OutNumber] OFF
SET IDENTITY_INSERT [dbo].[Storage] ON 

INSERT [dbo].[Storage] ([StorageNum], [StorageName]) VALUES (1001, N'武汉仓库')
INSERT [dbo].[Storage] ([StorageNum], [StorageName]) VALUES (1002, N'武昌仓库')
INSERT [dbo].[Storage] ([StorageNum], [StorageName]) VALUES (1003, N'襄阳仓库')
SET IDENTITY_INSERT [dbo].[Storage] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [UserPwd], [UserType]) VALUES (1, N'余杰龙', N'admin', N'管理员')
INSERT [dbo].[User] ([UserID], [UserName], [UserPwd], [UserType]) VALUES (2, N'史玉凤', N'admin', N'管理员')
INSERT [dbo].[User] ([UserID], [UserName], [UserPwd], [UserType]) VALUES (3, N'兰文峰', N'admin', N'管理员')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[InGoodsInfo]  WITH CHECK ADD  CONSTRAINT [FK_INGOODSI_REFERENCE_INNUMBER] FOREIGN KEY([InNum])
REFERENCES [dbo].[InNumber] ([InNum])
GO
ALTER TABLE [dbo].[InGoodsInfo] CHECK CONSTRAINT [FK_INGOODSI_REFERENCE_INNUMBER]
GO
ALTER TABLE [dbo].[OutGoodsInfo]  WITH CHECK ADD  CONSTRAINT [FK_OUTGOODS_REFERENCE_OUTNUMBE] FOREIGN KEY([OutNum])
REFERENCES [dbo].[OutNumber] ([OutNum])
GO
ALTER TABLE [dbo].[OutGoodsInfo] CHECK CONSTRAINT [FK_OUTGOODS_REFERENCE_OUTNUMBE]
GO
USE [master]
GO
